export APP_ID=@jkomyno/glassdoor-scraper
export KAFKA_BROKER_LIST=127.0.0.1:9092
export KAFKA_INPUT_TOPIC=input-glassdoor
export KAFKA_OUTPUT_SUCCESS_TOPIC=output-success-glassdoor
export KAFKA_OUTPUT_FAILURE_TOPIC=output-failure-glassdoor
export FSM_JOB_TIMEOUT_MS=60000
export NODE_ENV=development
